.dp{
	cursor:pointer;
}
.djp_datepicker{
    border:1px solid #333;
    width:210px;
    font:Arial, Helvetica, sans-serif;
    font-size:12px;
    position:absolute;
    background-color:#FFF;
    z-index:99;
    top:0;
    left:100%;
}
    .djp_datepicker span{
        display:block;
        text-align:center;
        padding:5px;
        font-weight:bold;
        font-size:1.1em;
    }
    
    .djp_datepicker table{

    }
        .djp_datepicker td{
            width:30px;
            text-align:center;
            color:#999;
        }
        .djp_datepicker td.today{
            background-color:#E7E7E7;
            color:#F00;
        }
        .djp_datepicker td.selected{
            background-color:#BBDEAE;
            color:#000;
        }
        .djp_datepicker td.month_day:hover, .djp_datepicker td.selected:hover{
            background-color:#CCC;
            color:#000;
            cursor:pointer;
        }
        .djp_datepicker td.today:hover{
            color:#F00;
        }
        .djp_datepicker th{
            font-weight:bold;
        }
.arrow{
    cursor:pointer;
    margin:4px;
    display:block;
    width:16px;
    height:16px;
    border:0px;
    color:#FFF;
}
.left_arrow{
    float:left;
    display:block;
    background-image:url(images/previous.png);
}
.right_arrow{
    float:right;
    background-image:url(images/next.png);
}

.dp_container{
    position:relative;
    display:inline;
}
.close_link{
	float:right;
	cursor:pointer;
	font-size:0.8em;
	color:#09F;
	padding:0 2px 2px 0;
}